@charset "UTF-8";
.nav-style, .social-links, .social-links__item, .social-links__link, .our-clients__list, .client__link, .button--mailing-form {
  display: flex;
}

.benefits, .our-team, .our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefits, .our-team, .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header-content, .hero-content, .benefits-content, .our-team-content, .our-clients-content, .footer-content {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

.title--is-hidden, .benefits-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
p {
  margin: 0 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 0;
}

body {
  font-family: 'Roboto', 'Verdana', 'Tahoma';
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  color: #2196f3;
  width: 145px;
  height: 31px;
}

.logo--header-color {
  color: #000;
}

.logo--footer-color {
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

@media screen and (min-widt: 1200px) {
  .title {
    font-size: 36px;
  }
}

.title--margin {
  margin-bottom: 30px;
}

.header {
  border-bottom: solid 1px #ececec;
}

.nav-style {
  height: 60px;
  align-items: center;
}

.navigation {
  display: none;
}

.contacts-header {
  display: none;
}

.hero {
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__heading {
  max-width: 360px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  transition-property: color background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.benefits__list {
  text-align: center;
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__icon {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__headings {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.benefits__text {
  margin-top: 10px;
  text-align-last: left;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-work {
  display: none;
}

.our-team {
  background-color: #f5f4fa;
}

.team-member {
  padding-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:not(:last-child) {
  margin-bottom: 30px;
}

.team-member__photo-capture {
  padding-top: 30px;
  padding-bottom: 16px;
  background-color: #ffffff;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-member__position {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.social-links {
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
}

.social-links__item {
  align-items: center;
  justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.our-clients__list {
  flex-wrap: wrap;
  margin: -15px;
}

.client {
  width: 210px;
  height: 92px;
  margin: 15px;
  flex-basis: calc(100% / 2 - 30px);
}

.client__link {
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
  color: #ffffff;
}

.footer-content {
  text-align: center;
}

.address-style {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  /* не трогать здесь так надо */
  line-height: 1.71;
}

.contact-footer__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer__link:hover, .contact-footer__link:focus {
  color: #2196f3;
}

.footer-social {
  padding: 60px 0;
}

.footer-social__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social--social-links .social-links__link {
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer-social--social-links .social-links__link:hover, .footer-social--social-links .social-links__link:focus {
  background: #2196f3;
}

.mailing-form___box {
  margin-top: 20px;
}

.mailing-form__lable {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mailing-form__input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-hero-footer-color);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.button--mailing-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */