.benefits {
  @extend %section;
}

.benefits-content {
  @extend %container;
}

.benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -30px;
  }
}

.benefits {
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__icon {
    height: 120px;
    max-width: 450px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: $bg-color-secnd;
    border-radius: 4px;
  }

  &__headings {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color-basic;
  }

  &__text {
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-color-secondary;
  }
  @media screen and (min-width: 768px) {
    &__item {
      margin-right: 30px;
      flex-basis: calc(100% / 2 - 30px);
    }
    &__item:not(:last-child) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    &__item {
      margin-right: 30px;
      margin-bottom: 0;
      flex-basis: calc(100% - 30px);
    }
  }
}
