.our-clients {
  @extend %section;
}

.our-clients-content {
  @extend %container;
}

.our-clients__list {
  @extend %box;
  flex-wrap: wrap;
  margin: -15px;
}

.client {
  width: 210px;
  height: 92px;
  margin: 15px;
  flex-basis: calc(100% / 2 - 30px);

  // @media screen and (min-width: 768px) {
  //   width: 226px;
  //   flex-basis: calc(100% / 3 - 30px);
  // }
}

.client__link {
  @extend %box;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  fill: $icons-color;

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
