.footer {
  padding: 60px 0;
  background-color: $bg-hero-footer-color;
  color: $text-color-third;
}

.footer-content {
  @extend %container;

  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

.footer-logo-social-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.address-style {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal; /* не трогать здесь так надо */
  line-height: 1.71;
}

.contact-footer__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-social {
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 70px;
  }
}

.footer-social__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social--social-links .social-links__link {
  background: rgba(255, 255, 255, 0.1);
  fill: $text-color-third;
  &:hover,
  &:focus {
    background: $accent-color;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    padding-left: 93px;
  }
}

.mailing-form___box {
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.mailing-form__lable {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mailing-form__input {
  width: 450px;
  height: 50px;
  // margin-top: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--bg-hero-footer-color);
  color: rgba(255, 255, 255, 0.6);

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.button--mailing-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  @extend %box;
  align-items: center;
  justify-content: center;
  fill: $text-color-third;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 12px;
  }
}
