.footer {
  padding: 60px 0;
  background-color: $bg-hero-footer-color;
  color: $text-color-third;
}

.footer-content {
  @extend %container;
  @extend %box;
  align-items: baseline;
}

.address-style {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal; /* не трогать здесь так надо */
  line-height: 1.71;
}

.contact-link-footer {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts-footer .item {
  margin-top: 9px;
}

.footer-social {
  padding-left: 70px;
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form {
  padding-left: 93px;
}

.mailing-form___box {
  @extend %box;
  margin-top: 20px;
  align-items: center;
}

.mailing-form__lable {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mailing-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--bg-hero-footer-color);
  color: rgba(255, 255, 255, 0.6);

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
