.hero {
  background-color: $bg-hero-footer-color;
  color: $text-color-third;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  //   padding-top: 200px;
  //   padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  @extend %container;
}

.hero__heading {
  max-width: 360px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  //   width: 696px;
  //   font-size: 44px;
  //   line-height: 1.36;
}
