@import '../utils/placeholders';

$logo-color-frst: #2196f3;
$logo-color-scnd: #000;
$logo-color-thrd: #fff;

.logo {
  @extend %line;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $logo-color-scnd;
  width: 145px;
  height: 31px;
  text-decoration: none;
}
