.our-work {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-bottom: 94px;
  }
}

.our-work-content {
  @extend %container;
}

@media screen and (min-width: 1200px) {
  .our-work__list {
    display: flex;
    margin-right: -30px;
  }

  .work-sample {
    margin-right: 30px;
    flex-basis: calc(100% / 3 - 30px);

    &__thumb {
      position: relative;
    }
    &__text {
      display: flex;
      position: absolute;
      bottom: 0;

      align-items: center;
      justify-content: center;
      width: 100%;
      height: 70px;
      background: rgba(47, 48, 58, 0.8);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      color: $text-color-third;
      text-transform: uppercase;
    }
  }
}
