.social-links {
  @extend %box;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
}

.social-links__item {
  @extend %box;
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-links__link {
  @extend %box;
  align-items: center;
  justify-content: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: $icons-color;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $text-color-third;
  }
}
