.title {
  // margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $text-color-basic;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.title--margin {
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.title--is-hidden {
  @extend %visually-hidden;
}
