@import '../utils/variables';

h1,
h2,
h3,
h4,
p {
  margin: 0 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 0;
}

body {
  font-family: 'Roboto', 'Verdana', 'Tahoma';
  background-color: $bg-color-frst;
  letter-spacing: 0.03em;
}
