$text-color-basic: #212121;
$bg-hero-footer-color: #2f303a;
$bg-color-frst: #ffffff;
$bg-color-secnd: #f5f4fa;
$text-color-secondary: #757575;
$text-color-third: #ffffff;
$accent-color: #2196f3;

$icons-color: #afb1b8;
